# Configuration file

features {
    # Enable hopping barrels. On by default. [default: true]
    B:enableHoppingBarrels=true

    # Enable silky barrels. On by default unless tweak.blockCarrying is also present. [default: false]
    B:enableSilkyBarrels=false

    # Enable sticky barrels. On by default. [default: true]
    B:enableStickyBarrels=true
}


general {
    # The maximum amount of stacks to be dropped when a barrel is broken. [range: 0 ~ 33554431, default: 1024]
    I:maxDroppedStacks=1024
}


render {
    # Should items be rendered on barrels? [default: true]
    B:renderItem=true

    # Should items use fancy 3D rendering? [default: false]
    B:renderItem3D=false

    # Should text be rendered on barrels? [default: true]
    B:renderText=true
}


