# Configuration file

~CONFIG_VERSION: 0.1.0

world-1744718313 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=industria
    B:overlayEnabled=true
}


world-471923236 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=ore
    B:overlayEnabled=true
}


world-534897959 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=io port
    B:overlayEnabled=true
}


world-78688046 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=sapling

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


world-788616179 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@ex
    B:overlayEnabled=true
}


world1101665689 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1544803905 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1820422063 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@resource
    B:overlayEnabled=true
}


world513173007 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@qua
    B:overlayEnabled=true
}


